<div class="flex justify-between gap-4 min-h-[calc(100vh-73px)]">
  <div class="w-full bg-bgPrimary">
    <div class="users" *ngIf="!isModalOpen">
      <p class="text-md font-semibold text-textSecondary">Users</p>
      <button (click)="openModal()">
        <app-search-icon />
      </button>
    </div>
    <app-search-input
      *ngIf="isModalOpen"
      (closeModal)="closeModal()"
      (searchRequest)="searchUser($event)" />

    <!-- User table -->
    <app-table
      [data]="users"
      [columns]="columns"
      (clickRow)="showUserDetail($event)"
      [bgColor]="bgColor"
      [firstLetter]="firstLetter" />
  </div>

  <!-- User detail -->
  <app-user-detail
    *ngIf="isOpenDetailModal"
    (closeDetailModal)="closeDetailModal()"
    [userDetail]="user" />
</div>
