<div
  class="fixed inset-0 z-40 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none opacity-70">
  <div class="relative my-6 w-[350px]">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-bgForm outline-none">
      <div class="flex justify-between p-5">
        <p class="text-md text-textSecondary font-medium">{{ title }}</p>

        <button class="text-textSecondary" (click)="handleClose()">
          <span>×</span>
        </button>
      </div>

      <div class="relative p-6 flex justify-center">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
