<div class="boder w-auto bg-bgPrimary min-h-[calc(100vh-73px)]">
  <div class="border-b flex h-10">
    <button class="p-3" (click)="onCloseEditForm()">
      <app-arrow-right-icon />
    </button>
  </div>

  <!-- Form -->
  <div class="p-5">
    <form [formGroup]="editUser">
      <div class="flex justify-end pb-10 gap-4">
        <app-button label="Delete" variant="secondary" size="medium" />
        <app-button label="Save" variant="primary" type="submit" size="medium" />
      </div>

      <div
        class="grid grid-cols-2 text-right gap-y-5"
        style="align-items: baseline; grid-template-columns: 100px 286px">
        <!-- Full name -->
        <label class="label" for="full-name">Full Name</label>
        <app-input id="full-name" formControlName="fullName" />

        <!-- Email -->
        <label class="label" for="email">Email</label>
        <app-input id="email" formControlName="email" />

        <!-- Avatar -->
        <label class="label" for="avatar">Avatar</label>
        <div class="flex gap-5" style="align-items: end">
          <div class="text-white w-[95px] h-[95px] text-[70px] text-center capitalize bg-mainColor">
            T
          </div>
          <div>
            <div class="upload-img">
              <input
                id="avatar"
                aria-label="upload-img"
                type="file"
                accept="image/*"
                class="opacity-0 absolute cursor-pointer" />
              <app-upload-icon />
              Upload new photo
            </div>
          </div>
        </div>

        <!-- Status -->
        <label class="label" for="status-user">Status</label>
        <label class="inline-flex items-center cursor-pointer">
          <input
            id="status-user"
            type="checkbox"
            value=""
            class="sr-only peer"
            aria-label="status" />
          <div class="toggle"></div>
        </label>

        <!-- Registered -->
        <p class="label">Registered</p>
        <p class="text--secondary text-left">{{ userDetail.createDate }}</p>

        <!-- Details -->
        <label class="label" for="user-detail">Details</label>
        <textarea id="user-detail" class="detail"></textarea>
      </div>
    </form>
  </div>
</div>
