<!-- User detail -->
<app-detail-modal title="User information" (closeModal)="handleClose()">
  <div class="flex justify-center">
    <app-avatar
      *ngIf="userDetail.avatar;else avatarDefault"
      url={{userDetail.avatar}}
      [variant]="variant" />

    <ng-template #avatarDefault>
      <div class='text-white w-[180px] h-[180px] text-[120px] text-center' [style.background]="bgColor">{{firstLetter}}</div>
    </ng-template >
  </div>
  <p class="text--default text-center">{{userDetail.fullName}}</p>

  <div class="py-4">
    <!-- Email -->
    <div class="pb-7">
      <div class="flex gap-3">
        <app-email-icon />
        <p class="text--default">Email:</p>
      </div>
      <p class="text--secondary pl-8">{{userDetail.email|| 'Unknown'}}</p>
    </div>

    <!-- Last visited -->
    <div class="pb-7">
      <div class="flex gap-3">
        <app-clock-icon />
        <p class="text--default">Last visited:</p>
      </div>
      <p class="text--secondary pl-8">Unknown</p>
    </div>

    <!-- Roles -->
    <div class="flex gap-3 pb-7">
      <app-profile-icon />
      <p class="text--default">Roles (0)</p>
    </div>

    <!-- Rules -->
    <div class="flex gap-3 pb-7">
      <app-list-icon />
      <p class="text--default">Rules (0)</p>
    </div>
  </div>
</app-detail-modal>
