<div class="w-[212px] bg-bgSidebar py-5 h-[calc(100vh-56px)]">
  <div class="mx-4 relative">
    <app-button label="+ New" variant="primary" size="lager" (clickButton)="openMenuModal()" />
  </div>

  <!-- Menu modal -->
  <app-menu
    *ngIf="isShowMenu"
    (closeMenuModal)="closeMenuModal()"
    (openAddUserModal)="openAddUserModal()" />

  <div
    [class]="isActive('/user-list') ? 'bg-bgActiveLink border-l border-mainColor' : 'bg-bgSidebar'"
    class="mt-4">
    <a href="/user-list" class="flex gap-2 cursor-pointer text-base mx-4 py-3">
      <app-user-icon [fill]="isActive('/user-list') ? '#1ca1c1' : '#fff'" />
      <span [class]="isActive('/user-list') ? 'text-mainColor' : 'text-textReversal'">Users</span>
    </a>
  </div>
</div>

<!-- Create user form -->
<app-user-create *ngIf="isShowAddUserModal" (closeModal)="closeAddUserModal()" />
